body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgb(25, 194, 185);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo-container {
    margin-bottom: 1rem;
}

.logo {
    max-width: 150px;
    height: auto;
}

h2 {
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: teal;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: rgb(19, 136, 136);
}

.error-message {
    color: #e74c3c;
    margin-top: 1rem;
}


.forgot-password a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-container {
        padding: 1.5rem;
    }
}